.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url('./bcg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Raleway', sans-serif
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20% auto;
}

h1 {
  color: white;
}

button {
  padding: 2% 3%;
  background-color: #fff;
  border: none;
  border-radius: 5%;
  transition: .3s linear;
  font-family: 'Raleway', sans-serif
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(62, 107, 31);
}